{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in products %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
        <p align="right">Цена: {{ item.price }}</p>


    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="media/photos/Нет_фото.png">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                <a href="{% url 'detail' item.id %}" class="btn btn-dark btn-sm pull-right ">подробнее...</a>

            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <p align="left">создано: {{ item.created_at|date:"Y-m-d H:i:s" }}</p>
        <p align="right">автор: {{ item.created_by }}</p>



    </div>
</div>
{% endfor %}
{% endblock %}
