{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in object_list %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="media/photos/Нет_фото.png">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">подробнее...</a>
            </div>
        </div>

    </div>
    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">подробнее...</a>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endfor %}
{% endblock %}
