{% extends 'base.html' %}

{% block title %}
{{ products_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ products_item.category.get_absolute_url }}">{{ products_item.category }}</a>
        <p align="right">Цена: {{ products_item.price }}</p>


    </div>
    <div class="card-body">
        {% if products_item.photo %}
        <img src="{{ products_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% else %}
        <img src=" media/photos/Нет_фото.png ">

        {% endif %}

        <h5 class="card-title">{{ products_item.title }}</h5>

        <p class="card-text">{{ products_item.content|safe|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'update' products_item.id %}" class="btn btn-dark btn-sm">изменить</a>
        <a href="{% url 'delete' products_item.id %}" class="btn btn-dark btn-sm">удалить</a>



    </div>
</div>
{% endblock %}

