{% extends 'base.html' %}

{% block title %}
Редактирование товара :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Редактирование товара</h1>

<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block">Изменить товар</button>
</form>

{% endblock %}